.info {
  background: #181818;
}
.info .info-canal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.info .info-canal .info-logo {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  margin-right: 0 24px 0 0;
}

.info .info-canal h2 {
  font: 24px "Roboto", sans-serif;
  color: #fff;
  margin: 0 8px 0 0;
}

.info .info-canal .ícone {
  height: 18px;
  width: 18px;
}

.info .info-canal span {
  display: block;
  margin-top: 8px;
  font: 14px "Roboto", sans-serif;
  color: #aaa;
}
.info .info-canal .botao-membro {
  color: #3ea6ff;
  border: 1px solid #3ea6ff;
  border-radius: 2px;
  font: 14px "Roboto", sans-serif;
  text-transform: uppercase;
  margin-right: 0 16px 0 0;
  padding: 8px 16px;
}

.info .info-canal .botao-inscrever {
  color: #fff;
  border-radius: 2px;
  background: #c00;
  font: 14px "Roboto", sans-serif;
  text-transform: uppercase;
  padding: 8px 16px;
}

nav {
  padding: 24px 0 16px 0;
}

nav a {
  color: #fff;
  font: 14px "Roboto", sans-serif;
  text-transform: uppercase;
  margin: 0 24px 0 0;
}
